:root{
    /*color schemes */ 
    --beige: #edf5e1;
    --lightGreen: #8ee4af;
    --emerald: #5cdb95;  
    --darkgreen: #379683;
    --imperialBlue: #05386b; 
    box-sizing: border-box;
    background-color: var(--beige);
    overflow: hidden;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpRight{
    background-color: var(--lightGreen);
    width: 30vw;
}


.logo{
    border-radius: 50%;
    height: auto;
    width: 100px;
}

.forest{

    height: 80vh;
    width: 100%;

}

.titleBackground{
    position: absolute;
    background-color: rgba(5, 56,107, .7);
    height: 20%;
    width: 100%;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLeft{
    position: relative;
    width: 30vw;
}

.titleBackground h1{
    font-weight: bold;
    color: #5cdb95;
    text-align: center;
    font-size: 32px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 80vh;

}